nav {
    background-color: rgb(70, 40, 67);
    padding: 10px;
}

nav a {
    color: antiquewhite;
    display: block;
    padding: 20px;
}

img {
    width: 150;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

h1 {
    color: rgb(58, 58, 234);
}

nav {
    background-color: rgb(173, 80, 3);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

p {
    padding: 10px;
}


img{
    width: 100;
    height: auto;
}